form{
    text-align: left;
    float: inherit;
    width: 70%;
    margin: auto auto;
}
.cardadjust{
    background-color:#dee2e6 !important;
}
.cardadjust
{
    margin: auto;
}
label{
    font-size: large;
    font-weight: bolder;
}
.btn-primary:disabled {
    color: #fff;
    background-color: #1a8e5f !important;
    border-color: #1a8e5f !important;
}
.btn-primary {
    color: #fff;
    background-color: #1a8e5f !important;
    border-color: #1a8e5f !important;
}
.cardadjust{
    border-radius: 25px;
}
