.bg {
    /* background-image: url("../../../assets/login-page-bg5.jpg"); */
    background-image: url("/assets/login-bg.jpg") !important;
    min-height: 100vh;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
}