@media (max-width: 411px) {
  .fontmobile {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    clear: both;
  }

  .fontmobile:hover {
    overflow: visible;
  }

}

@media (max-width: 320px) {
  .fontmobile {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    clear: both;
  }

  .fontmobile:hover {
    overflow: visible;
  }

}

@media (max-width: 414px) {
  .fontmobile {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    clear: both;
  }

  .fontmobile:hover {
    overflow: visible;
  }

}

@media (max-width: 540px) {
  .fontmobile {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    clear: both;
  }

  .fontmobile:hover {
    overflow: visible;
  }

}

@media (max-width: 280px) {
  .fontmobile {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    clear: both;
  }

  .fontmobile:hover {
    overflow: visible;
  }

}

.inputBox {
  width: 98%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
  border: 1px solid #c4c9da;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
}

.errorContainer {
  padding: 10px;
  background-color: #ff3b00c2;
  border-radius: 10px;
}

@media print {
  @page {
    size: landscape
  }
}