.feedbackContainer {
    border-radius: 10px;
    margin: 20px
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.list {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid #e8f8ff;
}
@media (max-width: 580px)
{
  .fontmobile {
    text-overflow: ellipsis;
    white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
  clear: both;
  }
  
  .fontmobile:hover{
    overflow: visible;
  }

}